---
layout: post
title:  "Felipe J"
date:   2018-09-12 11:18:01 +1000
categories: "Felipe J"
---
<div id="links">
<a href="https://www.upwork.com/freelancers/~01eb3ffa55e5d719d8" target="_blank" rel="nofollow">Upwork</a>
<br>
<a href="https://github.com/Felipe-J" target="_blank" rel="nofollow">GitHub</a>
</div>
<br><br><br>

{% for image in site.static_files %}
    {% if image.path contains 'assets/images/posts/felipej' %}
        <img src="{{ site.baseurl }}{{ image.path }}"
            alt="Logorama - Logos Done Rama"
            title="Logorama - Logos Done Rama">
    {% endif %}
{% endfor %}